<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<form name="loginform" action="login" method="post">
		<h3 th:text="${nowDate}"></h3>
		<h1>ログイン</h1>
		<div>
			<input type="text" id="id" name="id" placeholder="ID"></input>
		</div>
		<div>
			<input type="password" id="password" name="password" placeholder="password"></input>
		</div>
		<button type="submit">login</button>
	</form>
</body>
</html>