<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<H1 th:text="'Hello ' + ${id} + '!'"></H1>
</body>
</html>